@import '/css/fonts.css';

:root {
	--noOfCols: 10;
	--probWidth: calc((1 / var(--noOfCols)) * 100%);

	--maxContentWidth: 52rem;

	--z-lower: 1;
	--z-middle: 50;
	--z-top: 100;

	--color: black;
	--purple: hsl(270, 100%, 50%);
	--buttonColor: hsla(0, 0%, 90%, 1);
	--buttonColorActive: hsla(230, 100%, 62%, 1);
	--buttonTextColor: white;
	
	--baseFontFamily: 'Comic Neue', Arial, Helvetica, sans-serif;
  --baseFont: normal normal normal 1em/1.5 var(--baseFontFamily);
	--baseFontWeight: bold;
	
	--buttonGridSize: 3rem;
	--borderWidth: 1px;

	--operandSize: 12px;
}

.corny {
	display:block;
	padding:.5em;
	font-size: .8rem;
	color:white;
	text-align: center;
	background-color:red;
	transition: opacity .5sec ease;
	position: absolute; top:0; right:0;
	text-decoration: none;
}	
  .corny:hover {
    opacity: 1 !important;
    box-shadow: -5px 5px 10px orange;
  }

* {
	box-sizing:border-box;
}

html {
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: var(--color);
	font: var(--baseFont);
	/* // Enable a font's kerning: http://stackoverflow.com/questions/15160897/font-feature-settings-what-is-the-correct-syntax */
	font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
}

h1 {
	font-size: 2em;
	line-height: 2rem;
	margin: 1rem 0;
}

label, button, input, .button {
	cursor: pointer;
}

#siteWrap {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header" "main" "footer";
	height: 100%;
	position: relative;
	overflow: hidden;
}

.header {
	grid-area: header;
	padding-bottom: 1em;
	overflow: hidden;
	border-bottom: solid 1px;
}
	.header_content {
		max-width: var(--maxContentWidth);
		margin: 0 auto;
	}

.main {
	grid-area: main;
	overflow: auto;
}

.hide { display: none !important; }

.section-title,
.section-sub-title {
	margin-top:.2em;
	margin-bottom: .5em;
}
.section-sub-title {
	line-height: 1;
}

.settings-section {
	margin: 0 0 1em;
}

.button {
	padding:.3rem .8rem;
	margin:0;
  font-family: var(--baseFontFamily);
	font-size: 1rem;
	color: var(--color);
	background:none var(--buttonColor);
	-webkit-appearance: none;
	outline: none;
	border:solid 1px var(--color);
}
	.button:hover, .button.hover {
		color: var(--buttonTextColor);
		background-color: var(--buttonColorActive);
		box-shadow: inset 0 0 5px rgba(0,100,255,.6);
	}
	.button:active, .button.active {
		box-shadow: inset 1px 1px 2px rgba(0,0,0,.8);
	}
	.button:focus, .button.focus {
		color: var(--buttonTextColor);
		background-color: var(--buttonColorActive);
	}

.text-small {
	font-size: .6rem;
}

.inline-input {
	padding: 0 .5rem;
	border-radius: .3em;
}
.input-simple {
	max-width: 3rem;
}

.footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 1em 2em;
	border-top: solid 1px;
	grid-area: footer;
}

#pageUI .inline-input .text-small {
	font-weight: bold;
}

.button-list {
	text-align: center;
}
	.button-list-item {
		display: inline-block;
	}
		.button-list.button,
		.button-list .input {
			line-height: 1rem;
		}

	.button-list label {
		text-align: right;
	}
		.button-list label + input {
			text-align: left;
		}

.problems {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 2rem;
	margin: 0 auto;
	padding: 2rem;
	max-width: var(--maxContentWidth);
	list-style: none outside none;
}
.prob {
	font-weight: bold;
	position: relative;
}
.question {
	display: block;
}
	.question span { display: inline-block; }
	.question .num-a,
	.question .num-b {
		display: block;
		text-align: right; 
	}
	.question .operator { position:absolute; }
	.question .operator__svg {
		width: var(--operandSize);
		height: var(--operandSize);
	}
	.question .equals {
		display: block;
		height:0;
		text-indent:-9999px;
		border-bottom: solid 1px;
	}

.answer {
	display: block;
	width: 100%;
	margin: 0;
	padding: .2em 0;
	font-size: 1em;
	text-align: right;
	border: 0 none;
}
	.answer[data-solve*='0'],
	.answer[data-solve*='1'],
	.answer[data-solve*='2'],
	.answer[data-solve*='3'],
	.answer[data-solve*='4'],
	.answer[data-solve*='5'],
	.answer[data-solve*='6'],
	.answer[data-solve*='7'],
	.answer[data-solve*='8'],
	.answer[data-solve*='9'] {
		background-color: hsla(200,100%,50%,.1);
	}

	.answer.correct {
		background-color: rgba(0,255,0,.3);
	}
	.answer.incorrect {
		background-color: rgba(255,0,0,.3);
	}
	.answer.incorrect-fixed {
		background-color: rgba(255,255,0,.5);
	}

/*
	SETTINGS
*/
.settings {
	width: 0;
	margin: 0; padding: 0;
	color:white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	background-color:#808080;
	position: fixed; top:0; bottom: 0; right:0; z-index: var(--z-top);
	transition: width .2s ease-out;
}
	.settings.open {
		width: 300px;
		box-shadow: 0 0 20px rgba(0,0,0,.6);
	}	
	.settings-container {
		width: 300px;
		height: 100%;
		padding: 1em;
		overflow-y: auto;
	}
	.settings .settings-menu-toggle {
		width: 2em;
		height: 1.5em;
		padding: 0;
		margin: 0;
		font-size: 1.5rem;
		line-height: 1.5em;
		text-align: center;
		opacity: 1;
		position: absolute; top: 1em; left: -2em;
	}
		.settings.open .settings-menu-toggle {
			opacity: .3;
		}

.settings-list {
	display: block;
	list-style: none inside none;
	margin: 0;
	padding: 0;
}

/*
	Settings operator button list
*/

.button-list-grid {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin: 0; padding: 0;
}
	.button-list-grid .button-grid-item {
		width: var(--buttonGridSize);
		height: var(--buttonGridSize);
		margin: 0;
		padding: 0;
		border-style: solid;
		border-width: var(--borderWidth) var(--borderWidth) var(--borderWidth) 0;
	}
		.button-list-grid .button-grid-item:first-child {
			border-width: var(--borderWidth);
		}

	.button-list-grid .button {
		display: block;
		width: 100%; height: 100%;
		margin: 0; padding: 0;
		font-size: calc(var(--buttonGridSize) * .6);
		line-height: var(--buttonGridSize);
		text-align: center;
		border: none;
	}

	.button-list-grid .button-grid-input {
		display: none;
	}
		.button-list-grid .button-grid-input:checked + .button {
			background-color: var(--buttonColorActive);
			color: white;
		}

		.button-list-grid.input-radio .button-grid-item {
			margin: 0 1em 0 0;
			border-radius: calc(var(--buttonGridSize) / 2);
			overflow: hidden;
			background-clip: border-box;
		}
			.button-list-grid.input-radio .button-grid-item .button {
				border-radius: calc(var(--buttonGridSize) / 2);
			}


/* Radio button driven sections */
.radio-section .settings-list-item {
	margin-bottom: 1em;
}

.radio-section-label {
	text-shadow: none;
}
.radio-section-item {
	margin: .25em 0 0 1em;
	opacity: .1;
}
.radio-section-item-input {
	width: 4rem;
	margin: 0; padding: 0;
	outline: none; border: none;
	background: none transparent;
	-webkit-appearance: none !important;
	font-size: 1.5rem;
	line-height: normal;
	text-align: center;
	color: white;
	font-weight: normal;
	text-shadow: 1px 1px 1px blue;
	border-bottom: dashed 1px;
}
.radio-section-input {
	display: none;
}
	.radio-section-input:checked + .radio-section-label {	
		background-color: var(--buttonColorActive);
		color: white;
	}
		.radio-section-input:checked + .radio-section-label + .radio-section-item,
		.radio-section-input:checked + .radio-section-label + .radio-section-item + .radio-section-item {
			opacity: 1;
		}


.error-message {
	padding: .2rem;
	visibility: hidden;
	font-size: .6rem;
	color: red;
	font-style: italic;
	text-shadow: none;
}


/* Modal popup */
.modal {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0; z-index: var(--z-top);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal__overlay {
	background: none rgba(0,0,0,.7);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0; z-index: var(--z-top);
}
.modal__box {
	width: 50%;
	min-width: 300px;
	background-color: white;
	text-align: center;
	border-radius: 1em;
	box-shadow: 5px 5px 10px black;
	position: relative;
	z-index: calc(var(--z-top) + 1);
}
.modal__answer-total {
	font-weight: bold;
}




