#dittosheet .text-color {
  color: var(--purple);
}
#dittosheet .text-shadow {
  text-shadow: 0 0 3px var(--purple);
}
#dittosheet .box-shadow {
  box-shadow: 0 0 3px var(--purple);
}
body {
  font-size: 10pt;
}
#corny {
  display: none !important;
}
.mainColumn {
  width: 6.5in;
}
.prob {
  min-width: 0;
  width: 4%;
  margin: .5rem 2.8%;
}
.problems {
  padding-bottom: 0;
}
#pageUI {
  display: none;
}
