<div class="modal js-modal">
  <div class="modal-overlay js-modal-overlay" style="display:none;"></div>
  <div class="modal-box modal-answer js-modal-box js-modal-answers" style="display:none;">
    <h2>Totals!</h2>
    <p>
      <span class="answer-label">Total answered: </span><span class="answer-total total-answered"></span><br/>
      <span class="answer-label">Total correct: </span><span class="answer-total total-correct"></span><br/>
      <span class="answer-label">Total incorrect: </span><span class="answer-total total-incorrect"></span>
    </p>
    <p>
      <button class="button modal-continue js-modal-continue">&raquo; CONTINUE &laquo;</button>
    </p>
  </div>
</div>
