<!DOCTYPE html>
<html>
	<head>
    <title>Math Test</title>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
    <script type-"text/javascript" src="/js/vue.js"></script>
	</head>
	<body>
    <div id="app">

      <prob-template
        v-for="prob in probs"
        :id="prob.id"
        :num-a="prob.numA"
        :num-b="prob.numB"
        :oper="prob.oper"
        :answer="prob.answer"
        :probtype="prob.probtype"
        :key="prob.id"
      ></prob-template>

      <answer-modal
        :is-visible="summaryIsVisible"
        :answered="10"
        :correct="4"
        :incorrect="8"
        :is-visible.sync="summaryIsVisible"
      ></answer-modal>
      
    </div>

    
    <script type="text/x-template" id="probTemplate">
      <li class="prob" v-bind:data-index="id" v-bind:data-problemtype="probtype">
				<label class="question" v-bind:for="id">
					<span class="num-a">{{numA}}</span>
					<span class="operator">{{oper}}</span>
					<span class="num-b">{{numB}}</span>
					<span class="equals">=</span>
				</label>
				<input v-bind:id="id" class="answer" type="number" value="" form="MathSentences">
			</li>
    </script>

    <script type="text/x-template" id="answermodal">
      <div class="modal" v-if="isVisible">
        <div class="modal-overlay"></div>
        <div class="modal-box modal-answer">
          <h2>Totals!</h2>
          <p>
            <span class="answer-label">Total answered: </span><span class="answer-total total-answered">{{ answered }}</span><br/>
            <span class="answer-label">Total correct: </span><span class="answer-total total-correct">{{ correct }}</span><br/>
            <span class="answer-label">Total incorrect: </span><span class="answer-total total-incorrect">{{ incorrect }}</span>
          </p>
          <p>
            <button class="button modal-continue" @click="close">&raquo; CONTINUE &laquo;</button>
          </p>
        </div>
      </div>
    </script>

    <script>
      var mt = {
        settings : {
          totalProbs : 10,
          problemtypes : {
            addition : true,
            subtraction : false,
            multiplication : false,
            division : false
          },
          numbers : {
            setByMinMax : true,
            setByTotAmt : false,
            minNum : 0,
            maxNum : 9,
            maxAnswerTotal : 20
          },
          style : 'horizontal'
        },
        problemtypes : {
          addition : '+',
          subtraction : '−',
          multiplication : '×',
          division : '÷'
        },
        getRandomInt : function(min, max){
          return Math.floor(Math.random() * (max - min)) + min;
        }
      };

      function buildProbs(total) {
        var problist = [];
        
        // create and show problem.  Loops as many times as the current problem count is set.

        // more than one type of problem?  If so, set a global setting and store a local array of only those problem types that are chosen/set.
        var probtypes = Object.keys(mt.settings.problemtypes);
        var multProb = [];
        for(var i = 0; i < probtypes.length; i++){
          if(mt.settings.problemtypes[probtypes[i]]) multProb.push(probtypes[i]);
        }
        if ( multProb.length > 1 ) mt.settings.multProbTypes = true;
        else mt.settings.multProbTypes = false;

        for (var i = 0; i < total; i++) {
          var numA = mt.getRandomInt(mt.settings.numbers.minNum, mt.settings.numbers.maxNum),
            numB = mt.getRandomInt(mt.settings.numbers.minNum, mt.settings.numbers.maxNum),
            oper = '',
            answer,
            probtype = '';

          //	If there are multiple problem types, pick one at random.
          //	Otherwise, just grab the one.
          if (mt.settings.multProbTypes) probtype = multProb[Math.floor(Math.random() * multProb.length)];
          else probtype = multProb[0];

          // in the case of subtraction, lets just put the larger number on top for now so we don't have to deal with negative numbers.
          if(probtype=='subtraction' && numA<numB) {
            var tmp = numA;
            numA = numB;
            numB = tmp;
          }

          // get answer
          switch (probtype){
            case 'addition':
              answer = numA + numB;
              break;

            case 'subtraction':
              answer = numA - numB;
              break;

            case 'multiplication':
              answer = numA * numB;
              break;

            case 'division':
              answer = numA / numB;
              break;
          }

          problist.push({
            id: i+1,
            numA: numA,
            numB: numB,
            oper: mt.problemtypes[probtype],
            answer: answer,
            probtype: probtype
          });
        }

        return problist;
      }

      var problist = buildProbs(10);

      Vue.component('prob-template', {
        props: {
          id: Number,
          numA: Number,
          numB: Number,
          oper: String,
          answer: Number,
          probtype: String
        },
        //template: '<h1>{{ problem.text }}</h1>'
        template: '#probTemplate'
      });

      Vue.component('answer-modal', {
        props: {
          isVisible: Boolean,
          answered: Number,
          correct: Number,
          incorrect: Number
        },
        template: '#answermodal',
        methods: {
          close: function() {
            this.isVisible = false;
          }
        }
      });

      var app = new Vue({
        el: '#app',
        data: {
          probs: problist,
          summaryIsVisible: true
        },
        methods: {
          showSummary: function() {
            this.summaryIsVisible = true;
          },
          hideSummary: function() {
            this.summaryisVisible = false;
          }
        }
      });
    </script>

    
    
	</body>
</html>