<!DOCTYPE html>
<html>
	<head>
    <title>Math Test</title>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
    <script type-"text/javascript" src="js/vue.js"></script>
	</head>
	<body>
    <div id="app">

      <prob-template
        v-for="prob in probs"
        :id="prob.id"
        :num-a="prob.numA"
        :num-b="prob.numB"
        :oper="prob.oper"
        :answer="prob.answer"
        :probtype="prob.probtype"
        :key="prob.id"
      ></prob-template>

      <answer-modal
        :is-visible="summaryIsVisible"
        :answered="10"
        :correct="4"
        :incorrect="8"
        :is-visible.sync="summaryIsVisible"
      ></answer-modal>
      
    </div>

    <script src="js/mt.js"></script>

    <script type="text/x-template" id="probTemplate">
      <li class="prob" v-bind:data-index="id" v-bind:data-problemtype="probtype">
				<label class="question" v-bind:for="id">
					<span class="num-a">{{numA}}</span>
					<span class="operator">{{oper}}</span>
					<span class="num-b">{{numB}}</span>
					<span class="equals">=</span>
				</label>
				<input v-bind:id="id" class="answer" type="number" value="" form="MathSentences">
			</li>
    </script>

    <script type="text/x-template" id="answermodal">
      <div class="modal" v-if="isVisible">
        <div class="modal-overlay"></div>
        <div class="modal-box modal-answer">
          <h2>Totals!</h2>
          <p>
            <span class="answer-label">Total answered: </span><span class="answer-total total-answered">{{ answered }}</span><br/>
            <span class="answer-label">Total correct: </span><span class="answer-total total-correct">{{ correct }}</span><br/>
            <span class="answer-label">Total incorrect: </span><span class="answer-total total-incorrect">{{ incorrect }}</span>
          </p>
          <p>
            <button class="button modal-continue" @click="close">&raquo; CONTINUE &laquo;</button>
          </p>
        </div>
      </div>
    </script>

    <script>
      var problist = mt.buildProbs(10);

      Vue.component('prob-template', {
        props: {
          id: Number,
          numA: Number,
          numB: Number,
          oper: String,
          answer: Number,
          probtype: String
        },
        template: '#probTemplate'
      });

      Vue.component('answer-modal', {
        props: {
          isVisible: Boolean,
          answered: Number,
          correct: Number,
          incorrect: Number
        },
        template: '#answermodal',
        methods: {
          close: function() {
            this.isVisible = false;
          }
        }
      });

      var app = new Vue({
        el: '#app',
        data: {
          probs: problist,
          summaryIsVisible: true
        },
        methods: {
          showSummary: function() {
            this.summaryIsVisible = true;
          },
          hideSummary: function() {
            this.summaryisVisible = false;
          }
        }
      });
    </script>  
    
	</body>
</html>