<div id="siteWrap" class="site-wrap">
  <header class="mainColumn mainSection">
    <h1>Math Practice Time</h1>
  </header>

  <app-settings></app-settings>

  <section id="pageUI" class="mainColumn mainSection">
    <div class="button-list">
      <button class="button-list-item button js-checkanswers"><i class="fa fa-check"></i> Check My Answers</button>
      <button class="button-list-item button js-clearanswers"><i class="fa fa-eraser"></i> Clear My Answers</button>

      <span class="button-list-item inline-input">
        <label for="max-count" class="text-small" style="">Total problems: </label>
        <input name="max-count" class="input input-simple js-max-count" type="number" placeholder="Enter Number of Problems...">
        <button class="button-list-item button js-regenerate"><i class="fa fa-refresh"></i> Create New Questions</button>
      </span>
    </div>
  </section>
  <hr class="mainColumn" />

  <section id="pagecontent" class="mainColumn mainSection">
    <form *ngIf="probs.length > 0" id="MathSentences" name="MathSentences">
      <ul class="problems js-problems problems-vertical">

        <app-problem
          *ngFor="let prob of probs; index as i;"
          probId="prob.probId"
          numA="prob.numA"
          numB="prob.numB"
          operand="prob.operand"
          index="i"
        ></app-problem>

      </ul>
    </form>
  </section>

  <br/>
  <hr/>
  <footer>
    <div class="footer-col">&copy;<script>document.write(new Date().getFullYear());</script> IEatPaint Studio&trade;</div>
    <div class="footer-col">Got suggestions or comments?  Go to the <a href="https://github.com/jasonhale/math-practice/issues">Issues page</a> and leave a note. Thanks!</div>
  </footer>
</div><!-- end #siteWrap -->

<app-answermodal *ngIf="showModal"></app-answermodal>
